.rules-text {
    button {
        display: block;
        width: 100%;
        background-color: $light-green;
        height: 16px;
        margin-bottom: 10px;
    }
}
.faq-par{
    display: none;
}
.shown{
    display: block;
}