/* Section header */
.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "logo user-login"
        "search search";
    margin-bottom: 10px;
    position: relative;
}


.header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    img {
        width: 40vw;
        height: auto;
        margin: 20px 0 30px 8px;
    }
}

.header-user-login,
.navigation-user {
    grid-area: user-login;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        display: inline;
        font-size: 10px;
        font-family: $primary-font;
        color: $primary-font-color;
        padding: 0;
        margin: 0;
    }

    a {
        @include flex(center, flex-end);
        margin-top: 3px;
    }
}

.user-icon-image {
    margin-right: 3px;
    margin-bottom: 3px;
    width: 14px;
    height: 12px;
}

button.hamburger-menu-icon {
    width: 24px;
    height: 16px;
    margin-top: 6px;
}

.header-search-form {
    width: 100%;
    grid-area: search;
    display: inline-flex;

    img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    input {
        width: 66.66%;
        height: 40px;
        background-color: #f0eeee;
        box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        padding: 8px;
        color: $input-font-color;
        font-family: $primary-font;
        font-weight: 300;

        &::placeholder {
            @include header-placeholder;
        }
    }

    button {
        width: 33.33%;
        height: 40px;
        background-color: $dark-green;
        @include flex(center, center);
        font-family: $secondary-font;
        font-size: 14px;
        color: #ffffff;
    }
}

/* Navigation*/


.navigation {
    display: block;
    position: absolute;
    background-color: #6cda00;
    width: 100vw;
    height: 100vh;
    transition: 0.5s transform ease-in-out;
    top: -100vh;
    left: 0;
    z-index: 2;
}

.hidden {
    display: none;
}

.hamburger-menu-icon-visible {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 6px;
}


.navigation-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    height: 70px;
    font-family: "Suprema - Semi Bold";

    h3 {
        font-size: 10px;
        color: #ffffff;
        margin-right: 5px;
    }
}


.navigation-list {
    ul {
        margin: 0;
        padding: 0;
    }   
    a{
        margin:0;
        padding: 0;
    }

    li {
        list-style: none;
        border-top: 1px solid #aeeb73;
        padding: 8px 10px;
    }

    button {
        border: 0;
        background-color: transparent;
    }


}

.navigation-list-plus {
    width: 8px;
    height: 8px;
    margin: auto 10px;
    transform: rotate(45deg);
}

.rotated {
    transform: rotate(90deg);
}

.navigation-list span,
a {
    color: #ffffff;
    font-family: "Suprema";
    font-size: 14px;
}

.navigation-list-products li {
    border: none;
    margin-left: 20px;
    padding: 4px;

    a {
        font-size: 10px;
    }
}

.navigation-list:nth-last-child(1) {
    border-bottom: 1px solid #aeeb73;
}

/*Section blog */
.section-banner-container {
    @include flex(center, center);

    a {
        padding: 0;
        margin: 0;
    }
}

/* Section products list */

.products-list-text {

    p {
        font-family: "Suprema - Semi Bold";
        font-size: 14px;
        margin: 20px auto;
    }
}

.products-list {
    width: 100%;
    @include products-list(repeat(2, 48%), repeat(3, 200px));
}

.item-box {
    width: 100%;
    font-size: 6px;
    text-align: center;
    border: 4px solid #f0eeee;
    background-color: #ffffff;

    a {
        margin: 0;
        padding: 0;
    }
}

.item-image {
    height: 80%;
    @include flex(center, center);
    margin: auto;

    img {
        height: 90%;
        width: 90%;
    }
}

.item-name-price {
    background-color: #f0eeee;
    height: 20%;
    color: $primary-font-color;
    margin: 2px 0 0 0;

    h3 {
        font-family: "Suprema - Semi Bold";
        font-size: 9px;
        margin: 0;
        padding: 3px 0 0 0;
        display: block;
    }

    p {
        font-family: $primary-font;
        font-size: 14px;
        text-align: end;
        margin-top: 2px;
        ;
    }

    span {
        font-size: 11px;
    }
}

.show-more {
    @include flex(center, center);
    flex-direction: column;
    margin: 30px auto;

    p {
        font-size: 18px;
        font-family: "Suprema - Semi Bold";
        color: $primary-font-color;
        margin: 0;
    }

    img {
        margin: 10px 0;
        width: 50px;
        height: 50px;
    }
}

/* Section blog */
.section-blog-container {
    height: 136px;
    width: 100%;
    position: relative;

    img {
        height: 30px;
        width: 80px;
        margin: 10px 0 0 12px;
    }

    h3 {
        color: #ffffff;
        font-family: $primary-font;
        font-size: 15px;
        margin: 12px;
    }

    p {
        font-family: $secondary-font;
        font-weight: 300;
        color: $blog-font-color;
        font-size: 8px;
        text-align: end;
        margin-right: 4px;
    }
}

.section-blog-container::after {
    content: "";
    background: center/cover no-repeat url(../img/blog/blog_bg.png);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: brightness(25%);
}

/* Section Newsletter */
.newsletter-container {
    margin-left: -9px;
    width: 100vw;
    height: 163px;
    background-color: $light-green;
    font-family: "Suprema";
    font-size: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    position: relative;

    button {
        margin-left: 13px;
        width: 50%;
        height: 20%;
        background-color: #ffffff;
        font-family: "Suprema - Semi Bold";
        font-weight: 400;
        font-size: 13px;
        color: $light-green;
        text-transform: uppercase;
    }

    img {
        position: absolute;
        top: 20px;
        right: 16px;
        width: 114px;
        height: 114px;
    }

    p {
        font-size: 14px;
        font-family: "Suprema - Semi Bold";
        color: #ffffff;
        display: block;
        margin: 2px 0 0 9px;
        padding: 0;
    }

    input::placeholder {
        color: #ffffff;
    }
}

.newsletter-input {
    width: 50%;
    height: 20%;
    box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: $newsletter-input-bgcol;
    font-family: $secondary-font;
    margin-top: 4px;
    margin-left: 13px;
    padding: 8px;
}

.newsletter-container-checkbox {
    width: 50%;
    height: 20px;
    margin-top: 5px;
    margin-left: 13px;

    label {
        align-items: center;
        position: relative;
        padding-left: 25px;
        font-size: 5px;
        font-family: $secondary-font;
    }
}


input[type=checkbox] {
    display: none;
}

label {
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
}

label:before {
    background-color: $light-green;
    bottom: 1px;
    color: #ffffff;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    border: 2px solid #59b201;
}

.checkbox-input:checked+label:before {
    content: "\2713";
    font-size: 10px;
    line-height: 15px;
}

/* Section footer */

.footer-container {
    margin-top: 10px;
    margin-left: -9px;
    width: 100vw;
    height: 42px;
    background: center/cover no-repeat url(../img/footer/płyta_głowna.png),
        #058325;
    @include flex(space-between, flex-end);
    color: #ffffff;

    span {
        display: inline-flex;
        align-items: center;
    }
}

.social-media {
    font-family: $primary-font;
    font-size: 6px;
    height: 100%;
    width: 50%;
    @include flex(flex-end, center);

    img {
        width: 28px;
        height: 28px;
    }

    a {
        margin: auto 5px;
    }
}

.copyright-text {
    width: 50%;
    opacity: 0.3;
    margin-left: 4px;
    margin-bottom: 4px;
    font-family: $secondary-font;
    font-size: 6px;
}

/* Small devices */
@media (max-width: 375px) {

    .item-name-price h3 {
        font-size: 8px;
    }

    .item-name-price p {
        font-size: 13px;
        margin-top: 5px;
    }
}

/* Tablets */
@media (min-width: 768px) {

    /* Header Section */
    .user-login-icon a {
        font-size: 18px;
    }

    .user-icon-image {
        margin-right: 3px;
        margin-top: 6px;
        width: 25px;
        height: 20px;
    }

    .hamburger-menu-icon {
        width: 50px;
        height: 30px;
    }

    /* Product list section */
    .products-list-text p {
        font-size: 24px;
    }

    .products-list {
        grid-template-rows: repeat(3, 400px);
    }

    .item-image {
        height: 85%;
    }

    .item-image img {
        height: 80%;
        width: 80%;
    }

    .item-name-price {
        height: 15%;

        h3 {
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 35px;
            margin-top: -9px;
        }
    }

    .show-more {
        p {
            font-size: 38px;
        }
        a{
            margin: 0;
            padding: 0;
        }
        img {
            width: 100px;
            height: 100px;
        }

    }


    /* Section blog */
    .section-blog-container {
        height: 204px;

        img {
            height: 50px;
            width: 140px;
            margin: 10px 0 0 12px;
        }

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
            text-align: end;
            margin-right: 10px;
        }
    }



    /* Section newsletter */
    .newsletter-container {
        height: 224px;

        p {
            font-size: 20px;
            margin-top: 10px;
        }

        button {
            margin-left: 13px;
            height: 20%;
            font-size: 23px;
        }

        img {
            position: absolute;
            top: 20px;
            right: 50px;
            width: 254px;
            height: 172px;
            position: absolute;
            top: 20px;
            right: 50px;
            width: 254px;
            height: 172px;
        }
    }

    .newsletter-container-checkbox label {
        font-size: 8px;
    }



    /* Section footer */
    .footer-container {
        height: 64px;
        align-items: flex-end;
    }

    .copyright-text {
        font-size: 16px;
        line-height: 4px;
        height: auto;

    }

    .social-media {
        font-size: 20px;
        margin-right: 8px;

        img {
            width: 40px;
            height: 40px;
        }
    }

}