* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: $mobile-margin;
    text-transform: uppercase;
    font-weight: 300;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $primary-font-color;
}
ul li{
    list-style: none;
}

button, input{
    border:0;
    background-color: transparent;
}

